<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <link rel="stylesheet" href="">
    <link rel="stylesheet" href="/assets/css/style.css">
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/assets/js/app.js"></script>

</head>
	<body>
        <div class="header">
            <h1 class="head-title">Beer Scraper</h1>

        </div>
        <a href="/scrape"><div class="button">Scrape</div></a>
        <a href="/"><div class="button">Articles</div></a>
        
		{{{ body }}}

        <div id="notes"></div>
        
	</body>

</html>


