body {
  background: #CCE0CE;
}

.header {
  width: 100%;
  background: #3839FF;
  color: #FFD937;
  text-align: center;
  margin-bottom: .25rem;
  height: 20%;;
  border:0px;
  border-radius: .5rem;
  font-family: 'Quattrocento', serif;
}

.head-title {
  font-size: 7rem;
  font-weight: 800;
  margin: 0 auto;
  padding: 1rem;
}

#link-div {
  margin: 1rem;
}

.button {
  display: inline-block;
  background: black;
  color:white;
  width: auto;
  text-align: center;
  padding: .5rem;
  margin: .25rem;
  border-radius: .25rem;
}

.button:hover {
  background: white;
  color:black;
}

.wrapper {
  text-align: center;
  font-family: 'Quattrocento', serif;
}

.inner-wrap {
  width: 95%;
  margin: 0 auto;
}

#main-title {
  font-size: 3.5rem;
  font-weight: 800;
  text-align: center;
  margin: 2rem;
}



.list {
  list-style: none;
  /* display: inline-block; */
}

.list li {
  margin: 1.5rem;
  border:1px solid black;
  border-radius: .5rem;
  padding: 2rem;
}

#article-title {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  text-decoration: underline;
}

#story {
  text-decoration: none; 
}

.buttons-div {
  text-align: center;
}

.summary {
  font-size: 1.25rem;
  text-align: justify;
  font-weight: 450;
  margin: 1rem;
}

#note-title {
  font-size: .75rem;
  color:blue;
}

.list-button{
  display: inline-block;
  margin: .5rem;
  width: auto;
  padding: .75rem;
  background: #3839FF;
  color: white;
  border-radius: .5rem;
}


.list-button:hover {
  cursor: pointer;
  background: #0404B3;
}

.modal-header {
  font-size: 2rem;
  font-weight: 900;
}



#note-header {
  font-size: 1.75rem;
  font-weight: 800;
}

.comment-header {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 1rem;
}

#name-input {
  width: 75%;
}

#body-input {
  width: 75%
}